.specialty {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features {
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__image {
    margin-bottom: 30px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color-light);
  }

  &__icon {
    max-width: 70px;
    max-height: 70px;
  }

  &__title {
    text-align: center;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.14;

    color: var(--text-color);
  }
}
