.header {
  border-bottom: 1px solid #ececec;

  &__content {
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    position: relative;
    z-index: 999;
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    & .icon-cross {
      display: none;
    }

    &.is-open .icon-cross {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }

  &__icon {
    width: 24px;
    height: 16px;
    transition: fill var(--main-animation);
    &:hover,
    &:focus {
      fill: var(--hover-color);
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }

  &__item {
    margin-bottom: 10px;
    &:not(:last-child):after {
      content: '';

      background-color: rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      margin-right: 10px;
      width: 22px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
  &__link {
    color: var(--hover-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

// Мобильное меню

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--title-color);
  font-size: 24px;
  line-height: 1.16;

  padding: 16px 0;
  transition: text-shadow var(--main-animation);
  &__text {
    color: var(--hover-color);
  }
  &:hover,
  &:focus {
    text-shadow: var(--main-shadow), var(--main-shadow), var(--main-shadow);
  }
}

.navigation {
  visibility: hidden;
  overflow-y: scroll;
  pointer-events: none;

  position: fixed;
  z-index: 99;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: var(--white-color);

  display: flex;
  flex-direction: column;

  padding: 48px 40px;

  &.is-open {
    visibility: visible;
    pointer-events: auto;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color var(--main-animation);
    &:hover,
    &:focus {
      color: var(--hover-color);
    }
    &--activ {
      color: var(--hover-color);
    }
  }
}

.contacts {
  margin-top: auto;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color var(--main-animation);
  }

  .contacts__link-blue {
    font-size: 34px;
    color: var(--hover-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--hover-color);
    fill: currentColor;
  }

  &__icon {
    display: none;
  }
}
