.header {
  border-bottom: 1px solid #ececec;

  &__content {
    position: relative;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--title-color);
  font-size: 24px;
  line-height: 1.16;

  padding: 16px 0;
  transition: text-shadow var(--main-animation);
  &__text {
    color: var(--hover-color);
  }
  &:hover,
  &:focus {
    text-shadow: var(--main-shadow), var(--main-shadow), var(--main-shadow);
  }
}
.header__button {
  position: relative;
  z-index: 999;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.header__button .icon-cross {
  display: none;
}

.header__button.is-open .icon-cross {
  display: block;
}

.header__button.is-open .icon-menu {
  display: none;
}

.header__wrap {
  visibility: hidden;
  overflow-y: scroll;
  pointer-events: none;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  width: 100%;
  background-color: var(--white-color);
}

.header__wrap.is-open {
  visibility: visible;
  pointer-events: auto;
}

.header__icon {
  width: 24px;
  height: 16px;
  transition: fill var(--main-animation);
  &:hover,
  &:focus {
    fill: var(--hover-color);
  }
}

.navigation {
  padding: 48px 40px;
}

.navigation__item {
  margin-bottom: 32px;
}

.navigation__item:last-child {
  margin-bottom: 200px;
}

.navigation__link {
  position: relative;
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color var(--main-animation);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }

  &--activ {
    color: var(--hover-color);
  }
}

.contacts {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: color var(--main-animation);
  }

  .contacts__link-blue {
    font-size: 34px;
    color: var(--hover-color);
  }
  &__link:hover,
  &__link:focus {
    color: var(--hover-color);
    fill: currentColor;
  }

  &__icon {
    display: none;
  }
}

.header__social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.header__item {
  margin-bottom: 10px;
}

.header__item:not(:last-child):after {
  content: '';

  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.header__link {
  color: var(--hover-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
