@media (min-width: 768px) {
  // Адаптация хедера
  .container {
    max-width: 769px;
  }
  .header__button {
    display: none;
  }
  .header__wrap {
    position: relative;
    visibility: visible;
    pointer-events: auto;
    background-color: transparent;
    margin-left: 88px;
    z-index: 0;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    &__list {
      display: flex;
    }
    &__item {
      margin-bottom: 0;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
    .navigation__item:last-child {
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;

      &--activ::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--hover-color);
        border-radius: 2px;
      }
    }
  }
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-left: 10px;
    &__item:last-child {
      margin-bottom: 10px;
    }
    .contacts__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }

    .contacts__link-blue {
      font-size: 12px;
      color: var(--text-color);
      transition: color var(--main-animation);

      &:hover,
      &:focus {
        color: var(--hover-color);
        fill: currentColor;
      }
    }

    &__icon {
      display: block;
      margin-right: 10px;
      fill: currentColor;
    }
  }
  .header__social {
    display: none;
  }

  //   Адаптация секции Особенности

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));

    &__item {
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-top: var(--card-set-gap);
      margin-left: var(--card-set-gap);
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  //   Адаптация секции Наша команда

  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }

  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    margin-bottom: 0;
  }

  //   Адаптация секиции Постоянные клиенты

  .clients__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }

  //   Адаптация секции Футер

  .footer__wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }

  .social {
    margin-bottom: 0;
  }
  .address {
    margin-bottom: 0;
  }

  // Адаптация страницы Портфолио
  // Адаптация кнопок

  .filters-list {
    justify-content: center;
  }

  // Адаптация секции проектов

  .project {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));

    &__item {
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-top: var(--card-set-gap);
      margin-left: var(--card-set-gap);
    }
  }
}
@media (min-width: 1200px) {
  // Адаптация секции Хедер
  .container {
    max-width: 1600px;
    padding: 94px 215px;
  }
  .header__content {
    padding: 0 190px;
  }

  .header__wrap {
    margin-left: 60px;
  }
  .contacts {
    flex-direction: row-reverse;
    margin-left: 0;
    &__item:last-child {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  // Адаптация секции Герой

  .hero__title {
    font-size: 44px;
  }
  // Адаптация секции Особенности

  .features {
    flex-wrap: nowrap;
  }

  .features__title {
    text-align: start;
  }
  // Адаптация секции Чем мы занимаемся
  .business {
    display: block;
    &__wrap {
      padding-top: 0;
    }
  }
  // Адаптация секции Наша команда
  .team__list {
    flex-wrap: nowrap;
  }

  // Адаптация секции Постоянные клиенты

  .clients__list {
    flex-wrap: nowrap;
  }

  // Адаптация секции Футер
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
  .footer__wrap {
    margin-bottom: 0;
  }
  .address {
    margin-right: 60px;
  }
  .subscribe {
    margin-left: 60px;
    &__input {
      width: 358px;
      margin-bottom: 20px;
    }
  }

  // Адаптация страницы Портфолио
  // Адаптация секции проектов

  .project__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }

  // Адаптация страницы Модального окна
}

@media (min-width: 1260px) {
  .header__content {
    padding: 0 215px;
  }
  .header__wrap {
    margin-left: 80px;
  }
}
@media (min-width: 1400px) {
  .header__wrap {
    margin-left: 93px;
  }
  .subscribe {
    margin-left: 93px;
  }
  .address {
    margin-right: 70px;
  }

  .subscribe {
    &__wrap {
      display: flex;
    }
    display: block;
    text-align: start;
    &__input {
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
}
