@media (min-width: 481px) {
  // Адаптация хедера

  .header__button {
    display: none;
  }
  .header__wrap {
    position: relative;
    visibility: visible;
    pointer-events: auto;
    background-color: transparent;
    margin-left: 88px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    &__list {
      display: flex;
    }
    &__item {
      margin-bottom: 0;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
    .navigation__item:last-child {
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--title-color);

      transition: color var(--main-animation);
      &--activ {
        color: var(--hover-color);
      }
      &--activ::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--hover-color);
        border-radius: 2px;
      }

      &:hover,
      &:focus {
        color: var(--hover-color);
      }
    }
  }
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-left: 10px;
    &__item:last-child {
      margin-bottom: 10px;
    }
    .contacts__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--text-color);

      transition: color var(--main-animation);
    }

    .contacts__link-blue {
      font-size: 12px;
      color: var(--text-color);
    }
    &__link:hover,
    &__link:focus {
      color: var(--hover-color);
    }

    &__icon {
      display: block;
      margin-right: 10px;
      fill: currentColor;
    }
  }
  .header__social {
    display: none;
  }

  //   Адаптация секции Особенности

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));

    &__item {
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-top: var(--card-set-gap);
      margin-left: var(--card-set-gap);
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  //   Адаптация секции Наша команда

  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }

  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    margin-bottom: 0;
  }
}
